In [10]:
import pandas as pd
df= pd.read_csv("netflix_titles.csv")

Establishing connection with the existing database.

In [11]:
import sqlalchemy as sal 
engine=sal.create_engine('mssql://MANSI\SQLEXPRESS02/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')

In [12]:
conn=engine.connect()

Connecting Pandas to database

In [13]:
df.to_sql('netflix_titles', con=conn, index=False,if_exists='append')
conn.close()

In [23]:
#Filter out a specific column using show_id to check whether the title column is same as shown in MYSQL Server post creation#
df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

Since the column in MYSQL takes data type as varchar, the title column in some cases got altered due to inserting character foreign to varchar. 
To resolve this-Created a new table with data type for the title column as nvarchar (nvarchar takes all characters)
Additionally, since mysql considers each row's data length as max (around 64k), we optimised processing time - We changed column length in new table as per the max length of row value for each column.

In [51]:
max(df.show_id.dropna().str.len())
# max(df.type.dropna().str.len())
# max(df.title.dropna().str.len())
# max(df.director.dropna().str.len())
# max(df.cast.dropna().str.len())
# max(df.country.dropna().str.len())
# max(df.date_added.dropna().str.len())
# max(df.release_year.dropna().str.len())
# max(df.duration.dropna().str.len())
# max(df.listed_in.dropna().str.len())
# max(df.description.dropna().str.len())

5